.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url(../../img/bg/main-bg.jpg) center (center/cover) no-repeat;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 90px;
  }
  &__header {
    color: #ffffff;
    font-size: 42px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
  }
  &__subheader {
    margin-top: 5px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    line-height: 27px;
    text-transform: uppercase;
  }
  &__icons {
    display: flex;
    justify-content: space-between;
    width: 425px;
    margin-top: 66px;
  }
  &__icon {
    width: 110px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
    img {
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
  &__link {
    margin-top: 18px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    a {
      color: #fff;
      text-transform: uppercase;
      text-decoration: underline;
    }
  }

}